<footer class="container">
    <section class="content">
        <section class="nav-link">
            <section>
              <h4>Customer Service</h4>
              <p>My Orders</p>
              <p>Payments</p>
              <p>Refunds and returns</p>
              <p>Shipping</p>
              <p>Help Center</p>
            </section>
            <section>
              <h4>Get to know us</h4>
              <p>About Onet Mobile</p>
              <p>Investor relations</p>
              <p>Terms and conditions</p>
              <p>Privacy policy</p>
              <p>Contact us</p>
            </section>
            <section>
              <h4>Payment methods</h4>
              <section class="visa">
                <img src="../assets/logo/Visa_Logo.png" alt="" srcset="">
                <img src="../assets/logo/Group.png" alt="" srcset="" class="margeG">
              </section>
              <h4>Social media</h4>
              <p>Facebook</p>
              <p>Twitter</p>
            </section>
            <section>
              <h4>Contacts</h4>
              <p>+242 06 908 3535</p>
              <p>
                <span>Mon - Fri</span>
                <span class="margeGauche">08:00AM - 05:00 PM</span>
              </p>
              <p>
                <span>Sat - Sun</span>
                <span class="margeGauche">08:00AM - 02:00 PM</span>
              </p>
              <p>10 avenue Nelson Mandela</p>
              <p>Brazzaville 1414</p>
            </section>
        </section>
    
        <section class="copyright">
            Copyright © Onet Mobile 2018. All Rights Reserved
        </section>
    </section>
</footer>