<header>

</header>
<main>
    <section class="banner">
        <section class="scrollerWithShopInfo">
            <section class="scroller-container" id="scroller-container" >
                <img src="../../../assets/images/main.png" alt="" srcset="">
                <section class="btn_group">
                    <button class="nav-button">
                        <
                    </button>
                    <button class="nav-button">
                        >
                    </button>
                </section>
                <section class="list_item">
                    <section class="item"></section>
                </section>
            </section>
            <section class="shopInfo">
                <section class="shopInfoItem">
                  <section class="item">
                    <section class="callIcon"></section>
                    <section class="call">
                        <h3>Call us</h3>
                        <span>+242 06 908 3535</span>
                    </section>
                  </section>
                  <section class="item">
                      <section class="locationIcon"></section>
                      <section class="shipping">
                        <h3>Shipping</h3>
                        <span>Everywhere in Congo</span>
                      </section>
                  </section>
                  <section class="item">
                      <section class="workIcon"></section>
                      <section class="work">
                        <h3>Work with us</h3>
                        <span>Become our consultant</span>
                      </section>
                  </section>
                </section>
                <section class="trending">
                    <h3>Trending article</h3>
                    <section class="article">
                        <section class="articleImg"></section>
                        <section class="articleContent">
                            <span>
                                New iPhones presentation gone not as planned ...
                            </span>
                            <h3>21 Jan 2019</h3>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</main>
<footer>

</footer>