<section class="container">
    <section class="onetLogoWithTitlePage">
        <section class="onetLogo"></section>

        <section class="titlePage">
            <h3>Checkout</h3>
        </section>
    </section>

    <section class="nav-link">
        <section class="problem">
            <section class="phoneIcon"></section>
            <section class="link">
                <span class="haveProblem">Have problems?</span>
                <span class="number">+242 06 908 3535</span>
            </section>
        </section>
        <section class="security">
            <section class="securityIcon"></section>
            <section class="link">
                <span class="titleLink">Secure payment</span>
            </section>
        </section>
        <section class="return">
            <section class="returnIcon"></section>
            <section class="link">
                <span class="titleLink">Easy returns</span>
            </section>
        </section>
    </section>
</section>