@import url('../../app.component.scss');


header {
    .modal {
        background: #FFFFFF;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(48, 48, 60, 0.08);
        border-radius: 3px;
        width: 90%;
        z-index: 4;
        position: absolute;
        top: 35%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        .header {
            display: flex;
            margin: 1rem;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
            }
            span{
                font-size: 20px;
                line-height: 24px;
                margin: 0px;
                color: #A0A0B0;
            }
        }

        .body {
            width: 100%;
            margin-bottom: 1rem;
            margin-top: 1rem;
            .body-item {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #DCDCE4;
            .detail {
                display: flex;
                align-items: center;
                    .phoneImage {
                        height: 104px;
                        width: 104px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .phoneDetail {
                        p {
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 24px;
                        }
                        .prix {
                            span:first-child{
                                font-size: 16px;
                                line-height: 24px;
                                text-decoration-line: line-through;
                                color: #7A7A8D;
                            }

                            span:last-child{
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 24px;
                                margin-left: 2rem;
                            }
                        }
                        .remove {
                            font-size: 16px;
                            line-height: 24px;
                            color: #ED1C24;
                        }
                    }
            }

            .buttons {
                    box-sizing: border-box;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                    

                    .add {
                        height: 50px;
                        width: 100px;
                        background: #FFFFFF;
                        border: 1px solid #BBBBCE;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .value {
                        height: 50px;
                        width: 100px;
                        background: #FFFFFF;
                        border: 1px solid #BBBBCE;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .reduce {
                        height: 50px;
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        background: #FFFFFF;
                        border: 1px solid #BBBBCE;
                    }
                }

                .final_price {
                    display: flex;
                    justify-content: flex-end;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 28px;
                    text-align: right;
                    color: #ED1C24;
                    padding-right: 1rem;
                }
            }
        }
        .footer {
            section:first-child{
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                span:first-child {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                }
                span:last-child{
                    margin-left: 1rem;
                    padding-right: 1rem;
                    font-size: 24px;
                    line-height: 36px;
                    text-align: right;
                    color: #ED1C24;
                    font-weight: bold;
                }
            }
            section:last-child{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-bottom: 1rem;
                margin-top: 1rem;
                .continueShoppin {
                    background: #F5F5FA;
                    border: 1px solid #F5F5FA;
                    border-radius: 3px;
                    width: 211px;
                    height: 56px;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #5C5C73;
                }
                .buy {
                    background: #ED1C24;
                    border: 1px solid #ED1C24;
                    border-radius: 3px;
                    width: 138px;
                    height: 56px;

                    font-size: 18px;
                    line-height: 28px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}


.content {
    display: block;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    // font-size: 14px;
    // line-height: 20px;
    color: #30303C;

    .banner {
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #30303C;
        width: 100%;

        .scrollerWithShopInfo {
            margin-left: 5rem;
            margin-right: 5rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            // margin-top: -1.5rem;
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            // margin-top: -2rem;

            .scroller-container {

                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50%;
                height: 434px;
                background-position: center;
                // background-image: url('../../../assets/images/main.png');
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 4.5rem;
                margin-bottom: 0px;
                margin-top: 0px;

                .scroller-content {
                    width: 100%;
                    height: 313px;
                    position: relative;
                    display: block;
                    align-content: space-between;

                    .btn_group {
                        height: 100%;
                        padding-top: auto;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
        
                        .nav-button {
                            position: relative;
                            width: 44px;
                            height: 56px;
            
                            background: #F5F5FA;
                            border: 1px solid #F5F5FA;
                            opacity: 0.8;
                            color: #5C5C73;
                            font-size: 25px;
                            border-radius: 3px;
                        }
                    }

                    .list_item {
                        position: relative;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin-right: 2rem;
                        
                        .item {
                            position: relative;
                            background: #FFFFFF;
                            opacity: 0.7;
                            box-shadow: 0px 0px 1px rgba(48, 48, 60, 0.32);
                            width: 56px;
                            height: 4px;
                            margin-left: .5rem;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .shopInfo {
                display: block;
                align-items: center;
                width: 20%;
                align-items: center;
                background: #FFFFFF;
                border: 1px solid #E9E9F0;
                box-sizing: border-box;
                box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);

                h3 {
                    font-size: 12px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    color: #A0A0B0;
                    margin: 0px;
                }

                .shopInfoItem {
                    display: block;
                    align-items: center;
                    padding: 1.5rem;
                    
                    span {
                        margin-left: 1rem;
                    }

                    section {
                        display: flex;
                        align-items: center;
                    }

                    section:hover {
                    cursor: pointer;
                    }

                    .item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 1rem;

                        .callIcon {
                            width: 17.96px;
                            height: 17.96px;
                            background-position: center;
                            background-image: url("../../../assets/icons/call.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right: 1rem;
                        }

                        .call, .shipping, .work {
                            display: block;
                            align-items: center;
                            span {
                                margin: 0px;
                            }
                        }

                        .locationIcon {
                            width: 24px;
                            height: 24px;
                            background-position: center;
                            background-image: url("../../../assets/icons/location.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right: 1rem;
                        }

                        .workIcon {
                            width: 24px;
                            height: 24px;
                            background-position: center;
                            background-image: url("../../../assets/icons/round-work-24px.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-right: 1rem;
                        }

                    }

                }
                .trending {
                    display: block;
                    align-items: center;
                    padding: 1.5rem;
                    border-top: 1px solid #E9E9F0;

                    h3 {
                        font-size: 12px;
                        line-height: 16px;
                        display: flex;
                        align-items: center;
                        color: #A0A0B0;
                        margin: 0px;
                    }

                    section {
                        display: flex;
                        align-items: center;
                    }

                    section:hover {
                        cursor: pointer;
                    }

                    .article {
                        .articleImg {
                            width: 90px;
                            height: 88px;
                            background-position: center;
                            background-image: url("../../../assets/images/phone_line1.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }

                        .articleContent {
                            display: block;
                            align-items: center;
                            margin-left: 1rem;

                            h3 {
                                margin-top: .5rem;
                            }
                        }
                    }
                }

            }
        }
    }

    .list_mark {
        margin-left: 5rem;
        margin-right: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        border-radius: 3px;
        height: 96px;
        
        .apple {
            height: 50%;
            background-position: center;
            background-image: url("../../../assets/logo/apple_logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            border-right: 1px solid #E9E9F0;
        }

        .samsung {
            height: 50%;
            background-position: center;
            background-image: url("../../../assets/logo/Samsung_Logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            border-right: 1px solid #E9E9F0;
        }

        .xiaomi {
            height: 50%;
            background-position: center;
            background-image: url("../../../assets/logo/Xiaomi_logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            border-right: 1px solid #E9E9F0;
        }

        .huawei {
            height: 50%;
            background-position: center;
            background-image: url("../../../assets/logo/huawei_logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            border-right: 1px solid #E9E9F0;
        }

        .infinix {
            height: 30%;
            background-position: center;
            background-image: url("../../../assets/logo/infinix_logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            border-right: 1px solid #E9E9F0;
        }

        .alcatel {
            height: 40%;
            background-position: center;
            background-image: url("../../../assets/logo/alcatel_logo.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #30303C;
    }

    .best_seller, .on_sale, .new_arrival, .seoText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;

        h1 {
            margin: 0px;
        }

        span {
            cursor: pointer;
            font-size: 16px;
            line-height: 24px;
            color: #ED1C24;
            border-bottom: 2px solid #DCDCE4;
        }
    }

    .list_best_product, .list_on_sale, .list_new_arrival {
        // height: 563px;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;

        .item {
            height: 100%;
            position: relative;
            display: block;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            border: 1px solid #E9E9F0;
            box-sizing: border-box;
            box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
            border-radius: 3px;
            margin-right: 2rem;
            min-width: 230px;

            .product {
                display: block;
                justify-content: center;
                align-items: center;
                padding: 1rem;

                .image {
                    height: 203px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: .5rem;

                    section {
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        // background-image: url('../../../assets/images/main.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }

                .detail {
                    .marque {
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: #30303C;
                    }

                    .prix_vente {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .prix {
                            display: block;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .prix_reduis {
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 24px;
                                color: #ED1C24;
                            }
                            .prix_normal {
                                font-size: 16px;
                                line-height: 24px;
                                text-decoration-line: line-through;
                                color: #7A7A8D;                                
                            }
                        }

                        .reduction {
                            
                            .tauxReduction {
                                background: #FFFFFF;
                                border: 1px solid #ED1C24;
                                box-sizing: border-box;
                                border-radius: 3px;
    
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                color: #ED1C24;
                            }
                        }

                    }

                    .hide {
                        display: none;
                    }
                }
            }

        }

        .item:hover {
            background-color: rgb(150, 160, 130);
            transition-property: width, height, background-color;
            transition-duration: 2s;
            transition-delay: .5s;

            .product {

                .detail {

                    .hide {
                        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                        display: block;
                        .starsWithReview {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: .5rem;
                            margin-bottom: 1rem;

                            .stars {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .ligth {
                                    width: 16.78px;
                                    height: 16px;
                                    background-position: center;
                                    // background-image: url('../../../assets/images/main.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                                .dark {
                                    width: 16.78px;
                                    height: 16px;
                                    background-position: center;
                                    // background-image: url('../../../assets/images/main.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                            }

                            .review {
                                margin-left: .8rem;
                                span {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #30303C;
                                }
                            }
                        }

                        .btn_group {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 0px;
                            .btnBuy {      
                                width: 97px;
                                height: 32px;                          
                                background: #ED1C24;
                                border: 1px solid #ED1C24;
                                border-radius: 3px;

                                font-size: 14px;
                                line-height: 20px;
                                text-align: center;
                                color: #FFFFFF;
                            }

                            .btnknow {
                                margin-left: 1rem;
                                width: 97px;
                                height: 32px;
                                background: #F5F5FA;
                                border: 1px solid #F5F5FA;
                                border-radius: 3px;

                                font-size: 14px;
                                line-height: 20px;
                                text-align: center;
                                color: #5C5C73;
                            }
                        }
                    }
                }
            }
        }
    }

    .bannerAfterListOfBest {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5rem;
        margin-right: 5rem;
        height: 120px;
        background: #E9E9F0;
        border: 1px solid #E9E9F0;
        border-radius: 3px;

        span {
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            color: #7A7A8D;
        }
    }

    .searchByPercent {
        background: linear-gradient(87.22deg, #ED1C24 -9.28%, #3636A1 111.45%);
        border: 1px solid linear-gradient(87.22deg, #ED1C24 -9.28%, #3636A1 111.45%);
        margin: 0px 5rem;
        height: 120px;
        display: block;
        justify-content: space-between;
        align-items: center;

        section { 
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin-top: auto;
            margin-bottom: auto;
            .percent {
                margin-top: auto;
                margin-bottom: auto;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;                
                span {
                    align-items: center;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                    color: #F5F5FA;
                    opacity: 0.4;
                    transform: rotate(-15deg);
                }

                .thirty {
                    margin-left: 2rem;
                }
                
                .fourty {
                    margin-top: 1rem;
                }
                
                .fifty {
                    margin-left: 3rem;
                }
            }

            .input_group {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                input {
                    background: #F5F5FA;
                    border: 1px solid #F5F5FA;
                    outline: none;
                    border-radius: 3px;
                    height: 44px;
                    left: 578px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                button {
                    color: white;
                    height: 48px;
                    background-color: #ED1C24;
                    border: 1px solid #ED1C24;
                    border-radius: 3px;
                    margin-left: 1.5rem;
                    margin-right: 4rem;
                }
            }
        }
    }

    .service {
        margin-left: 5rem;
        margin-right: 5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #E9E9F0;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(48, 48, 60, 0.08), 0px 2px 2px rgba(48, 48, 60, 0.12);
        border-radius: 3px;
        height: 96px;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .fast_delevry {
            width: 100%;
            height: 100%;

            .image {
                height: 60%;
                background-position: center;
                background-image: url("../../../assets/images/fastDele.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            span {
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .best_price {
            width: 100%;
            height: 100%;
            .image {
                height: 60%;
                background-position: center;
                background-image: url("../../../assets/images/present.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            span {
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .warranty {
            width: 100%;
            height: 100%;
            .image {
                height: 60%;
                width: 100%;
                background-position: center;
                background-image: url("../../../assets/images/service.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            span {
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #000000;
                font-weight: bold;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .guaranted {
            width: 100%;
            height: 100%;
            .image {
                height: 60%;
                background-position: center;
                background-image: url("../../../assets/images/garanted.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            span {
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .certified {
            width: 100%;
            height: 100%;
            .image {
                height: 60%;
                background-position: center;
                background-image: url("../../../assets/images/certifier.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
            span {
                height: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .seoText {
        display: block;
        align-items: center;

        p {
            margin-top: 1rem;
            font-size: 14px;
            line-height: 20px;
            color: #7A7A8D;
            // margin-bottom: 4rem;
        }
    }

    .footer {
        width: 100%;
        margin-top: 6em;
    }
}

*::-webkit-scrollbar {
    height: 8px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
   
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
*::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: rgb(28, 28, 29);
    outline: 1px solid rgb(28, 28, 29);
}

@media screen and (max-width: 930px)
{
    .content {
        .banner {
    
            .scrollerWithShopInfo {
                display: block;
    
                .scroller-container {
                    margin-left: auto;
                    width: 45%;
                    margin-bottom: 1rem;
                    .scroller-content {
                        .btn_group {
    
                        }
                    }
                }
    
                .shopInfo {
                    margin-left: auto;
                    margin-right: 5rem;
                    width: 45%;
                }
            }
        }
    }
}

@media screen and (max-width: 1432px)
{
    .content {
        .banner {
    
            .scrollerWithShopInfo {
                .scroller-container {
                    margin-left: auto;
                    margin-bottom: 1rem;
                    .scroller-content {
                        .btn_group {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}