<section class="container">
    <header [style.background-color]="showCart ? '#30303C' : 'white'" [style.opacity]="showCart ? 0.3 : 1" [style.z-index]="showCart ? -1 : 1">
        <section class="userSymbol">
            {{user.lastName[0]}} {{user.firstName[0]}}
        </section>
        <section class="nav">
            <span class="nav-item" (click)="setView('paiement')" [style.border-bottom]="view === 'paiement' ? '5px solid #DCDCE4': 'none'">Mes Paiements</span>
            <span class="nav-item" (click)="setView('commande')" [style.border-bottom]="view === 'commande' ? '5px solid #DCDCE4': 'none'">Mon Panier</span>
            <span class="nav-item" (click)="setView('review')" [style.border-bottom]="view === 'review' ? '5px solid #DCDCE4': 'none'">Mes Reviews</span>
            <span class="nav-item" (click)="setView('favoris')" [style.border-bottom]="view === 'favoris' ? '5px solid #DCDCE4': 'none'">Mes Favoris</span>
            <span class="nav-item" (click)="setView('profil')" [style.border-bottom]="view === 'profil' ? '5px solid #DCDCE4': 'none'">Mon Profil</span>
        </section>
    </header>
    <section class="modal" *ngIf="showCart">
        <app-panier [action]="'add'" (out)="close()"></app-panier>
    </section>

    <main class="col-12" [style.background-color]="showCart ? '#30303C' : 'white'" [style.opacity]="showCart ? 0.3 : 1" [style.z-index]="showCart ? -1 : 1">
        <section *ngIf="view === 'paiement'">
            <app-paiement-user [user]="user"></app-paiement-user>
        </section>
        <section *ngIf="view === 'commande'">
            <app-panier [user]="user"></app-panier>
        </section>
        <section *ngIf="view === 'review'" class="review col-8">
            <app-review [user]="user"></app-review>
        </section>
        <section *ngIf="view === 'favoris'">
            <app-article [articles]="like.products" (addProductToPaner)="getEvent($event)"></app-article>
        </section>
        <section *ngIf="view === 'profil'" class="register">
            <app-register [title]="'Mes Informations'" [user]="user"></app-register>
        </section>
    </main>
    
    <footer [style.background-color]="showCart ? '#30303C' : 'white'" [style.opacity]="showCart ? 0.3 : 1" [style.z-index]="showCart ? -1 : 1"> 
        <span (click)="logout()">Déconnexion</span>
        <div class="logOutImg" (click)="logout()"></div>
    </footer>
</section>