@import url('../../app.component.scss');

main {
    .content {
        display: block;
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #30303C;
        margin-right: 5rem;
        margin-left: 5rem;
        
        .route {
            display: flex;
            align-items: center;
            color: #7A7A8D;
            margin-bottom: 1rem;
            margin-top: 1rem;

            .route_d {
                color: black;
            }
        }

        .detail {
            display: block;
            align-items: center;

            .detail-container {
                display: flex;
                border: 1px solid rgb(199, 43, 43);

                .exemplaire {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .image_produit {
                        width: 100%;
                        height: 394px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        border: 1px solid #DCDCE4;
                        box-sizing: border-box;
                    }

                    .image_exemplaire {
                        width: 100%;
                        height: 84px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        section {
                            width: 84px;
                            height: 100%;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .information {
                    margin-left: 3rem;
                    .fiche_technique {
                        border-bottom: 1px solid #38388f;

                        h1 {
                            font-size: 24px;
                            line-height: 36px;
                            color: #30303C;
                            margin: 0px;
                            padding: 0px;
                            font-weight: bold;
                        }

                        span {
                            margin-top: .7rem;
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            color: #7A7A8D;
                        }

                        .starsWithReview {
                            display: flex;
                            align-items: center;
                            margin-top: 1rem;
                            margin-bottom: 1rem;

                            .stars {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .ligth {
                                    width: 16.78px;
                                    height: 16px;
                                    background-position: center;
                                    // background-image: url('../../../assets/images/main.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                                .dark {
                                    width: 16.78px;
                                    height: 16px;
                                    background-position: center;
                                    // background-image: url('../../../assets/images/main.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                            }

                            .review {
                                display: flex;
                                align-items: center;
                                margin-left: .8rem;

                                .redColor {
                                    color: #ED1C24;
                                }
                                span {
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #30303C;
                                    margin: 0px;
                                }
                                .nbreStars {
                                    margin: 0px;
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #30303C;
                                    font-size: 16px;
                                    line-height: 24px;
                                }
                                .leaveReview {
                                    margin-left: 2rem;
                                    font-size: 16px;
                                    line-height: 24px;
                                    border-bottom: 2px solid #DCDCE4;
                                }
                                .leaveReview:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        margin-top: 6em;
    }
}

@media screen and (max-width: 576px) {
    main {
        .content {

            .route {
                .route_d {
                }
            }

            .detail {
            
                .detail-container {
                    
                    .exemplaire {

                        .image_produit {

                        }

                        .image_exemplaire {

                            section {

                            }
                        }
                    }

                    .information {
                        margin-left: 0px;
                        .fiche_technique {

                            h1 {
            
                            }

                            span {
                       
                            }

                            .starsWithReview {

                                .stars {

                                    .ligth {
                                      
                                    }
                                    .dark {

                                    }
                                }

                                .review {
                                    span {
    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            width: 100%;
            margin-top: 6em;
        }
    }
}