@import url('../../app.component.scss');

main {
    .content {
        display: block;
        font-family: Sarabun;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #30303C;
        margin-right: 5rem;
        margin-left: 5rem;
        
        .route {
            display: flex;
            align-items: center;
            color: #7A7A8D;
            margin-bottom: 1rem;
            margin-top: 1rem;

            .route_d {
                color: black;
            }
        }

        .detail {
            display: flex;
            align-items: center;

            .detail-container {
                display: flex;
                align-items: center;
                border: 1px solid black;

                .exemplaire {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;

                    .image_produit {
                        width: 100%;
                        height: 200px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .image_exemplaire {
                        section {
                            margin-left: 2rem;
                            width: 100%;
                            height: 434px;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .information {
                    .fiche_technique {
                        border-bottom: 1px solid #38388f;

                        h1 {
                            font-size: 24px;
                            line-height: 36px;
                            color: #30303C;
                            margin: 0px;
                            padding: 0px;
                            font-weight: bold;
                        }

                        span {
                            margin-top: .7rem;
                            font-size: 16px;
                            line-height: 24px;
                            display: flex;
                            align-items: center;
                            color: #7A7A8D;
                        }

                        .starsWithReview {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-top: .5rem;
                            margin-bottom: 1rem;

                            .stars {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                .ligth {
                                    width: 16.78px;
                                    height: 16px;
                                    background-position: center;
                                    // background-image: url('../../../assets/images/main.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                                .dark {
                                    width: 16.78px;
                                    height: 16px;
                                    background-position: center;
                                    // background-image: url('../../../assets/images/main.png');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                }
                            }

                            .review {
                                margin-left: .8rem;
                                span {
                                    font-size: 12px;
                                    line-height: 16px;
                                    color: #30303C;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        margin-top: 6em;
    }
}