<header>
    <app-header (modalSearch)="getEvent($event)"></app-header>

    <section class="modal" *ngIf="showCart" >
        <section class="header">
            <h1>Your Cart</h1>
            <span aria-hidden="true" class="close">&times;</span>
        </section>
        <section class="body">
            <section class="body-item"  *ngFor="let p of productForBuy">
                <section class="detail col-6">
                    <section class="phoneImage" [ngStyle]="{'background-image': 'url(' + p.image + ')'}">
                    </section>
                    <section class="phoneDetail">
                        <p>{{p.marque}} {{p.nom}} {{p.description}}</p>
                        <section class="prix">
                            <span class="normal">{{p.prixNormal | number: ''}} FCFA</span>
                            <span class="reduis">{{p.prixReduis | number: ''}} FCFA</span>
                        </section>
                        <section class="remove">
                            Remove From Cart
                        </section>
                    </section>
                </section>
                <section class="buttons col-3">
                    <button class="add" (click)="add(p.prixReduis)">
                        +
                    </button>
                    <button class="value">
                        {{quantite}}
                    </button>
                    <button class="reduce" (click)="reduce(p.prixReduis)">
                        -
                    </button>
                </section>
                <section class="final_price col-3">
                    <span>{{p.prixNormal | number: ''}} FCFA</span>
                </section>
            </section>
        </section>
        <section class="footer">
            <section>
                <span>Total: </span>
                <span>{{totaPrice | number: ''}} FCFA</span>
            </section>
            <section>
                <button class="continueShoppin" (click)="annuler()">Continue Shopping</button>
                <button class="buy" (click)="payCommande()">Checkout</button>
            </section>
        </section>
    </section>
</header>

<main [style.background-color]="showModal || showCart ? '#30303C' : 'white'" [style.opacity]="showModal || showCart ? 0.3 : 1" [style.z-index]="showModal ? -1 : 1">
    <section class="content">
        <span class="route">
            Home > Smartphomes > iPhones > <strong class="route_d">{{product.marque}} {{product.nom}} {{communService.parseTextWithLength(product.description, 12)}}</strong>
        </span>

        <section class="detail">
            <section class="detail-container col-12">
                <section class="exemplaire col-5">
                    <section class="image_produit" [ngStyle]="{'background-image': 'url(' + product.image + ')'}">
                    </section>
                    <section class="image_exemplaire">
                        <section *ngFor="let p of products" (click)="select(p)" [ngStyle]="{'background-image': 'url(' + p.image + ')'}"></section>
                    </section>
                </section>
        
                <section class="information col-7">
                    <section class="fiche_technique">
                        <h1>{{product.nom}} {{product.description}}</h1>
                        <span>By {{product.marque}}</span>
                        <section class="starsWithReview">
                            <section class="stars">
                                <section class="ligth" *ngFor="let s of getStartLigth(product.nombreEtoile)" [ngStyle]="{'background-image': 'url(' + startLigthImg + ')'}"></section>
                                <section class="dark" *ngFor="let s of getStartDark(product.nombreEtoile)" [ngStyle]="{'background-image': 'url(' + startDartImg + ')'}"></section>
                            </section>
                            <section class="review">
                                <span class="nbreStars">{{product.nombreEtoile}}.0 (<span class="redColor">{{review.get(product._id)}} reviews</span>)</span>
                                <span class="redColor leaveReview" routerLink="/review">Leave a review</span>
                            </section>
                        </section>
                        <section class="feature">
                            <h1>Key Features</h1>
                            <ul class="list_feature">
                                <li class="item" *ngFor="let f of features">
                                    {{f}}
                                </li>
                            </ul>
                        </section>
                    </section>
                    <section class="prixWithReview col-12">
                        <section class="prixReview col-6">
                            <section class="block_item">
                                <section class="prixReduisWithPercent">
                                    <section class="prixReduis">
                                        <span>{{product.prixReduis | number: ''}} FCFA</span>
                                    </section>
                                    <section class="percent">
                                        <button>{{product.tauxReduction}} %</button>
                                    </section>
                                </section>
                                <section class="prixNormal">
                                    {{product.prixNormal | number: ''}} FCFA
                                </section>
                            </section>
                        </section>
                        <section class="favoris col-6">
                            <section class="like" (click)="like(product)">
                                <section class="coeur"></section>
                                <span>
                                    Save for later
                                </span>
                            </section>

                            <button (click)="buy(product)" [disabled]="showCart">
                                Buy now
                            </button>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section class="nav col-12">
            <section class="nav-link" (click)="show('description')" [style.color]="titre === 'description' ? '#ED1C24' : '#30303C'" [style.border-bottom]="titre === 'description' ? '2px solid #ED1C24' : 'none'">
                <h4>Description</h4>
            </section>
            <section class="nav-link" (click)="show('Reviews')" [style.color]="titre === 'Reviews' ? '#ED1C24' : '#30303C'" [style.border-bottom]="titre === 'Reviews' ? '2px solid #ED1C24' : 'none'">
                <h4>Reviews</h4>
            </section>
            <section class="nav-link" (click)="show('Specifications')" [style.color]="titre === 'Specifications' ? '#ED1C24' : '#30303C'" [style.border-bottom]="titre === 'Specifications' ? '2px solid #ED1C24' : 'none'">
                <h4>Specifications</h4>
            </section>
            <section class="nav-link" (click)="show('Return policies')" [style.color]="titre === 'Return policies' ? '#ED1C24' : '#30303C'" [style.border-bottom]="titre === 'Return policies' ? '2px solid #ED1C24' : 'none'">
                <h4>Return policies</h4>
            </section>
        </section>

        <section class="high">
            <h1 class="title">High Performance A8 Chip</h1>
            <p class="content">
                The all-new A8 chip in Apple iPhone 6 64GB HDD Smartphone is designed to be power efficient and the fastest yet. The A8 chip can sustain higher performances so you can play graphics-intensive games or enjoy video at higher frame rates for longer than ever while powering a larger display and incredible new features.
            </p>
            <section class="image"></section>
        </section>

        <section class="touchId">
            <h1 class="title">Touch ID</h1>
            <p class="content">
                Touch the Apple iPhone 6 64GB HDD Smartphone and watch as the surrounding stainless steel ring detects your finger and wakes the capacitive touch sensor.The software then reads the ridges of your fingerprint and finds the match to unlock your phone.
            </p>
            <section class="image"></section>
        </section>

        <section class="iSight">
            <h1 class="title">iSight camera</h1>
            <p class="content">
                The iSight camera in Apple iPhone 6 64GB HDD Smartphone features an Apple-designed video encoder and image signal processor built into the A8 chip. They support advanced camera and video features, like new Focus Pixels, better face detection, continuous autofocus, and enhanced noise reduction, so it’s easier to shoot higher-quality photos and videos. The perfect phone for a perfect picture.
            </p>
            <section class="image"></section>
        </section>

        <section class="similarProducts">
            <h1 class="title">Similar products</h1>
            <section class="list_products">
                <section class="item col-3" *ngFor="let p of products">
                    <section class="product">
                        <section class="image">
                            <section [ngStyle]="{'background-image': 'url(' + p.image + ')'}"></section>
                        </section>
                        <section class="detail">
                            <p class="marque">{{p.marque}}</p>
                            <p class="description" id="description">{{p.nom}} {{communService.parseText(p.description)}}</p>
                            <section class="prix_vente col-12">
                                <section class="prix">
                                    <p class="prix_reduis">{{p.prixReduis | number: ''}} FCFA</p>
                                    <p class="prix_normal">{{p.prixNormal | number: ''}} FCFA</p>
                                </section>
                                <section class="reduction">
                                    <button class="tauxReduction">{{p.tauxReduction}} %</button>
                                </section>
                            </section>
                            <section class="hide">
                                <section class="starsWithReview">
                                    <section class="stars">
                                        <section class="ligth" *ngFor="let s of getStartLigth(p.nombreEtoile)" [ngStyle]="{'background-image': 'url(' + startLigthImg + ')'}"></section>
                                        <section class="dark" *ngFor="let s of getStartDark(5 - p.nombreEtoile)" [ngStyle]="{'background-image': 'url(' + startDartImg + ')'}"></section>
                                    </section>
                                    <section class="review">
                                        <span>{{p.nombreEtoile}}.0 ({{review.get(p._id)}} reviews)</span>
                                    </section>
                                </section>
                                <section class="btn_group">
                                    <button class="btnBuy">Buy Now</button>
                                    <button class="btnknow" routerLink="/product/p._id">Know Now</button>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        
    </section>

    <section class="footer">
        <app-footer></app-footer>
    </section>
</main>