<section class="block">
    <span class="route margeHaut">
        Home > <strong class="route_d">Search</strong>
    </span>
    <section class="research">
        <span class="title">Search results for “iphone”</span>
        <span class="subtitle">705 results</span>
    </section>
</section>

<section class="line">
    <section class="block card_categorie margeDroite">
        <h5 class="title">Categories</h5>
        <section class="flex margeBas">
            <input type="checkbox" id="smartphone" name="smartphone" value="smartphone" class="checkbox">
            <span class="margeGauche margeHautAuto">Smartphones <span class="subtitle">(239)</span></span>
        </section>
        <section class="flex margeBas">
            <input type="checkbox" id="smartphone_covers" name="smartphone_covers" value="smartphone_covers" class="checkbox">
            <span class="margeGauche margeHautAuto">Smartphone covers <span class="subtitle">(456)</span></span>
        </section>
        <section class="flex">
            <input type="checkbox" id="protective" name="protective" value="protective" class="checkbox">
            <span class="margeGauche margeHautAuto">Protective membranes <span class="subtitle">(10)</span></span>
        </section>
    </section>

    <section class="block margeGauche margeBas">
        <section class="product">
            <section class="block margeGauche">
                <div class="image">
                    <img src="../../../assets/images/phone2.png" alt="" srcset="">
                </div>
                <h5 class="title">UMIDIGI</h5>
                <p class="content">
                    C Note Dual SIM 32GB HDD - 3GB RAM - 13MP - Gold - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">66,000  FCFA</span>
                        <span class="reduit">99,900 FCFA</span>
                    </div>
                    <button class="percent">-33%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Orange</h5>
                <p class="content">
                    Rise 53 Dual SIM 8GB HDD - White - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">29,900  FCFA</span>
                        <span class="reduit">48,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Apple</h5>
                <p class="content">
                    iPhone 8 64GB HDD - Gold
                </p> <br>
                <section class="article">
                    <div class="prix">
                        <span class="price">490,000  FCFA</span>
                    </div>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/image.png" alt="" srcset="">
                </div>
                <h5 class="title">Samsung</h5>
                <p class="content">
                    Galaxy S7 Edge 32GB HDD - 4GB RAM - Gold - 12 Months + Cover...
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">184,900  FCFA</span>
                        <span class="reduit">250,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
        </section>

        <section class="product">
            <section class="block margeGauche">
                <div class="image">
                    <img src="../../../assets/images/phone2.png" alt="" srcset="">
                </div>
                <h5 class="title">UMIDIGI</h5>
                <p class="content">
                    C Note Dual SIM 32GB HDD - 3GB RAM - 13MP - Gold - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">66,000  FCFA</span>
                        <span class="reduit">99,900 FCFA</span>
                    </div>
                    <button class="percent">-33%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Orange</h5>
                <p class="content">
                    Rise 53 Dual SIM 8GB HDD - White - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">29,900  FCFA</span>
                        <span class="reduit">48,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Apple</h5>
                <p class="content">
                    iPhone 8 64GB HDD - Gold
                </p> <br>
                <section class="article">
                    <div class="prix">
                        <span class="price">490,000  FCFA</span>
                    </div>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/image.png" alt="" srcset="">
                </div>
                <h5 class="title">Samsung</h5>
                <p class="content">
                    Galaxy S7 Edge 32GB HDD - 4GB RAM - Gold - 12 Months + Cover...
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">184,900  FCFA</span>
                        <span class="reduit">250,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
        </section>

        <section class="product">
            <section class="block margeGauche">
                <div class="image">
                    <img src="../../../assets/images/phone2.png" alt="" srcset="">
                </div>
                <h5 class="title">UMIDIGI</h5>
                <p class="content">
                    C Note Dual SIM 32GB HDD - 3GB RAM - 13MP - Gold - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">66,000  FCFA</span>
                        <span class="reduit">99,900 FCFA</span>
                    </div>
                    <button class="percent">-33%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Orange</h5>
                <p class="content">
                    Rise 53 Dual SIM 8GB HDD - White - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">29,900  FCFA</span>
                        <span class="reduit">48,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Apple</h5>
                <p class="content">
                    iPhone 8 64GB HDD - Gold
                </p> <br>
                <section class="article">
                    <div class="prix">
                        <span class="price">490,000  FCFA</span>
                    </div>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/image.png" alt="" srcset="">
                </div>
                <h5 class="title">Samsung</h5>
                <p class="content">
                    Galaxy S7 Edge 32GB HDD - 4GB RAM - Gold - 12 Months + Cover...
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">184,900  FCFA</span>
                        <span class="reduit">250,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
        </section>

        <section class="product">
            <section class="block margeGauche">
                <div class="image">
                    <img src="../../../assets/images/phone2.png" alt="" srcset="">
                </div>
                <h5 class="title">UMIDIGI</h5>
                <p class="content">
                    C Note Dual SIM 32GB HDD - 3GB RAM - 13MP - Gold - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">66,000  FCFA</span>
                        <span class="reduit">99,900 FCFA</span>
                    </div>
                    <button class="percent">-33%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Orange</h5>
                <p class="content">
                    Rise 53 Dual SIM 8GB HDD - White - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">29,900  FCFA</span>
                        <span class="reduit">48,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Apple</h5>
                <p class="content">
                    iPhone 8 64GB HDD - Gold
                </p> <br>
                <section class="article">
                    <div class="prix">
                        <span class="price">490,000  FCFA</span>
                    </div>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/image.png" alt="" srcset="">
                </div>
                <h5 class="title">Samsung</h5>
                <p class="content">
                    Galaxy S7 Edge 32GB HDD - 4GB RAM - Gold - 12 Months + Cover...
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">184,900  FCFA</span>
                        <span class="reduit">250,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
        </section>

        <section class="product">
            <section class="block margeGauche">
                <div class="image">
                    <img src="../../../assets/images/phone2.png" alt="" srcset="">
                </div>
                <h5 class="title">UMIDIGI</h5>
                <p class="content">
                    C Note Dual SIM 32GB HDD - 3GB RAM - 13MP - Gold - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">66,000  FCFA</span>
                        <span class="reduit">99,900 FCFA</span>
                    </div>
                    <button class="percent">-33%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Orange</h5>
                <p class="content">
                    Rise 53 Dual SIM 8GB HDD - White - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">29,900  FCFA</span>
                        <span class="reduit">48,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Apple</h5>
                <p class="content">
                    iPhone 8 64GB HDD - Gold
                </p> <br>
                <section class="article">
                    <div class="prix">
                        <span class="price">490,000  FCFA</span>
                    </div>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/image.png" alt="" srcset="">
                </div>
                <h5 class="title">Samsung</h5>
                <p class="content">
                    Galaxy S7 Edge 32GB HDD - 4GB RAM - Gold - 12 Months + Cover...
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">184,900  FCFA</span>
                        <span class="reduit">250,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
        </section>

        <section class="product">
            <section class="block margeGauche">
                <div class="image">
                    <img src="../../../assets/images/phone2.png" alt="" srcset="">
                </div>
                <h5 class="title">UMIDIGI</h5>
                <p class="content">
                    C Note Dual SIM 32GB HDD - 3GB RAM - 13MP - Gold - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">66,000  FCFA</span>
                        <span class="reduit">99,900 FCFA</span>
                    </div>
                    <button class="percent">-33%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Orange</h5>
                <p class="content">
                    Rise 53 Dual SIM 8GB HDD - White - 12 Months
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">29,900  FCFA</span>
                        <span class="reduit">48,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/phone3.png" alt="" srcset="">
                </div>
                <h5 class="title">Apple</h5>
                <p class="content">
                    iPhone 8 64GB HDD - Gold
                </p> <br>
                <section class="article">
                    <div class="prix">
                        <span class="price">490,000  FCFA</span>
                    </div>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
            <section class="block">
                <div class="image">
                    <img src="../../../assets/images/image.png" alt="" srcset="">
                </div>
                <h5 class="title">Samsung</h5>
                <p class="content">
                    Galaxy S7 Edge 32GB HDD - 4GB RAM - Gold - 12 Months + Cover...
                </p>
                <section class="article">
                    <div class="prix">
                        <span class="price">184,900  FCFA</span>
                        <span class="reduit">250,000  FCFA</span>
                    </div>
                    <button class="percent">-38%</button>
                </section>
                <section class="visuel">
                    <section class="article">
                        <section class="stars">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/VectorYellow.png" alt="" srcset="">
                            <img src="../../../assets/icons/Vector.png" alt="" srcset="">
                        </section>
                        <section>
                            <span class="review">4.0 (36 reviews)</span>
                        </section>
                    </section>
                    <section class="article">
                        <button class="buy">Buy now</button>
                        <span class="more">Know more</span>
                    </section>
                </section>
            </section>
        </section>

        <section class="pagination center">
            <section class="show_btn">
                <button type="button" class="btn_allProduct">Show next 24 results</button>
            </section>
            <section class="pages">
                <button class="start"></button>
                <button class="select">1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <span>...</span>
                <button>28</button>
                <button class="end"></button>
            </section>
        </section>
    </section>
</section>