.container {
    background: #FFFFFF;
    border: 1px solid #E9E9F0;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(48, 48, 60, 0.08);
    border-radius: 3px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    padding: 1.3rem;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 111px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);

        h1 {
            margin: 0px;
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
            text-align: center;
        }
    
        span {
            border-radius: 3px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F5F5FA;
            border: 1px solid #F5F5FA;
            border-radius: 3px;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #5C5C73;
        }
    }
    main {
        margin-top: .8rem;

        .show_paner {
            .list_commandes {
                display: flex;
                flex-direction: column;
                h2, .title , .footer .prix {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 28px;
                    margin: 0px;
                }

                .header {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    h2 {
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 28px;
                        margin: 0px;
                    }

                    span {
                        font-size: 16px;
                        line-height: 24px;
                        color: #ED1C24;
                        border-bottom: 3px solid #DCDCE4;
                    }

                    span:hover {
                        cursor: pointer;
                    }
                }

                .item {
                    display: flex;
                    border-bottom: 2px solid black;
                    margin-bottom: 1.5rem;
                    padding-bottom: .8rem;
                    width: 100%;
                    .image {
                        height: 104px;
                        width: 104px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .detailProduit {
                        display: flex;
                        width: 100%;

                        flex-direction: column;
                        justify-content: space-between;
                        .description {
                            
                        }
                        .detailPaiement {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            .quantite {

                            }
                            .prix {
                                color: #ED1C24;
                            }
                        }
                    }
                }

                .footer {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    .title {

                    }
                    .prix {
                        color: #ED1C24;
                    }
                }
            }

            .connection {
                h1 {
                    font-family: Sarabun;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 36px;
                    font-weight: bold;
                    color: #ED1C24;
                }
        
                p {
                    font-family: Sarabun;
                    font-style: normal;
                    font-weight: normal;
                }
            }
        }

        .add_paner {
            background: #FFFFFF;
            border: 1px solid #E9E9F0;
            box-sizing: border-box;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(48, 48, 60, 0.08);
            border-radius: 3px;
    
            .header {
                display: flex;
                margin: 1rem;
                justify-content: space-between;
                align-items: center;
    
                h1 {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                }
                span{
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0px;
                    color: #A0A0B0;
                }
            }
    
            .body {
                width: 100%;
                margin-bottom: 1rem;
                margin-top: 1rem;
                .body-item {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    border-bottom: 1px solid #DCDCE4;
                    .detail {
                        display: flex;
                        align-items: center;
                            .phoneImage {
                                height: 104px;
                                width: 104px;
                                background-position: center;
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
        
                            .phoneDetail {
                                max-width: 500px;
                                p {
                                    font-weight: bold;
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                                .prix {
                                    .normal{
                                        font-size: 16px;
                                        line-height: 24px;
                                        text-decoration-line: line-through;
                                        color: #7A7A8D;
                                        margin-right: 2rem;
                                    }
        
                                    .reduis{
                                        font-weight: bold;
                                        font-size: 16px;
                                        line-height: 24px;
                                    }
                                }
                                .remove {
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #ED1C24;
                                }
                                .remove:hover {
                                    cursor: pointer;
                                }
                            }
                    }
        
                    .interaction {
                        padding-right: 1rem;
                        display: flex;
                        padding-left: 1rem;
                        .buttons {
                            box-sizing: border-box;
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            
        
                            .add {
                                height: 50px;
                                width: 100px;
                                background: #FFFFFF;
                                border: 1px solid #BBBBCE;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 24px;
                            }
                            .add:hover, .reduce:hover {
                                cursor: pointer;
                                background-color: #BBBBCE;
                            }
                            .value {
                                height: 50px;
                                width: 100px;
                                background: #FFFFFF;
                                border: 1px solid #BBBBCE;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 24px;
                            }
                            .reduce {
                                height: 50px;
                                width: 100px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 24px;
                                background: #FFFFFF;
                                border: 1px solid #BBBBCE;
                            }
                        }
        
                        .final_price {
                            margin-left: 1rem;
                            display: flex;
                            justify-content: flex-end;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 28px;
                            text-align: right;
                            color: #ED1C24;
                        }
                    }

                }
            }
            .footer {
                section:first-child{
                    margin-bottom: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
    
                    span:first-child {
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 36px;
                    }
                    span:last-child{
                        margin-left: 1rem;
                        padding-right: 1rem;
                        font-size: 24px;
                        line-height: 36px;
                        text-align: right;
                        color: #ED1C24;
                        font-weight: bold;
                    }
                }
                section:last-child{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    .continueShoppin {
                        background: #F5F5FA;
                        border: 1px solid #F5F5FA;
                        border-radius: 3px;
                        width: 211px;
                        height: 56px;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        color: #5C5C73;
                    }
                    .buy {
                        background: #ED1C24;
                        border: 1px solid #ED1C24;
                        border-radius: 3px;
                        width: 138px;
                        height: 56px;
    
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}
